@model SectionViewModel

<form asp-action="@(Model?.SectionId > 0 ? "Update" : "Create")"
	  asp-controller="Section"
	  data-ajax-method="post"
	  data-ajax="true"
	  data-ajax-success="OnModalSuccess">

	@if (Model?.SectionId > 0)
	{
		<input type="hidden" asp-for="SectionId" />
	}
	<input type="hidden" asp-for="CourseId" />
	<div class="mb-5">
		<div class="form-floating mb-2">
			<input type="text" class="form-control" placeholder="Name" asp-for="Name" />
			<label asp-for="Name"></label>
		</div>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-5">
		<div class="form-floating mb-2">
			<input type="text" class="form-control" placeholder="Name" asp-for="Order" />
			<label asp-for="Order"></label>
		</div>
		<span asp-validation-for="Order" class="text-danger"></span>
	</div>

	@Html.AntiForgeryToken()
	<partial name="~/Views/Section/_ModalFooter.cshtml" />
</form>








@* 




<!-- Divider -->
<div class="col-12 d-flex align-items-center my-4">
	<div class="border-bottom w-100"></div>
	<span class="px-2 small text-muted fw-bold">OR</span>
	<div class="border-bottom w-100"></div>
</div>

<!-- Social Login -->
<div class="col-12">
	<button type="button" class="btn btn-primary w-100 py-2 btn-facebook mb-2">
		<i class="fa fa-facebook-f me-2"></i> Continue with Facebook
	</button>
</div>

<!-- Already Registered -->
<div class="text-center w-100">
	<p class="text-muted fw-bold">Already Registered? <a href="#" class="text-primary ms-2">Login</a></p>
</div> *@