@model UpdateCourseStatusViewModel


<form asp-action="UpdateCourseStatus"
      data-ajax-method="post"
      data-ajax="true">


        <input type="hidden" asp-for="CourseId" />

    @foreach (var status in Model.CourseStates)
    {
        <div class="form-check form-check-inline">
            <input class="form-check-input" 
                   type="radio"
                   name="Status"
                   value="@status.Value"
            @(Model.Status.Contains(status.Value) ? "checked" : "") />
            <label class="form-check-label" for="@status.Value">@status.Text</label>
        </div>
    }
    <partial name="~/Views/Course/_ModalFooter.cshtml" />
</form>